{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Seguridad de la información</title>
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <link rel="stylesheet" href="{% static 'css/estilo.css' %}">
    </head>
<body>
    <div id="login">
        <div class="container">
            <div id="login-row" class="row justify-content-center align-items-center">
                <div id="login-column" class="col-md-6">
                    <div id="login-box" class="col-md-12">
                        <form id="login-form" class="form" action="/registrarusuario/" method="post">{% csrf_token %}
                            <h3 class="text-center text-info">Registrar usuario</h3>
                            <center><img src="{% static 'imagenes/usuario.png' %}" width="50%"/></center>
                            <hr>
                            <div class="form-group">
                                <label for="nombre" class="text-info">Nombre completo</label><br>
                                <input type="text" name="txtnombre" id="txtnombre" class="form-control" required>
                            </div>
                            <div class="form-group">
                                <label for="direccion" class="text-info">Direccion:</label><br>
                                <input type="text" name="txtdireccion" id="txtdireccion" class="form-control" required>
                            </div>
                            <div class="form-group">
                                <label for="telefono" class="text-info">Telefono:</label><br>
                                <input type="text" name="txttelefono" id="txttelefono" class="form-control" required>
                            </div>
                            <div class="form-group">
                                <label for="correo" class="text-info">Correo:</label><br>
                                <input type="text" name="txtcorreo" id="txtcorreo" class="form-control" required>
                            </div>
                            <div class="form-group">
                                <label for="usuario" class="text-info">Usuario:</label><br>
                                <input type="text" name="txtusuario" id="txtusuario" class="form-control" required>
                            </div>
                            <div class="form-group">
                                <label for="contrasena" class="text-info">Contraseña:</label><br>
                                <input type="text" name="txtcontrasena" id="txtcontrasena" class="form-control" required>
                            </div>
                            <div class="form-group">
                                <label for="contrasena2" class="text-info">Repetir contraseña:</label><br>
                                <input type="text" name="contrasena2" id="contrasena2" class="form-control">
                            </div>
                            <hr>
                            <div class="form-group">
                                <button type="submit" class="btn btn-info btn-md text-white">Guardar</button>
                            </div>

                            <div id="register-link" class="text-right"><br>
                                <a href="/" class="text-info">Regresar</a>
                            </div>
                            <br>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>